@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: rgb(248, 249, 250);
    font-family: "Inter", serif;
    padding: 2rem;
    height: 100dvh;
    width: 100vw;
}

@media (width < 1024px) {
    body {
        padding: 0;
    }
}

[data-theme="dark"] body {
    color: var(--background);
    background: var(--foreground);
    font-family: "Inter", serif;
}
